# Conditional Statements

In [ ]:
x=int(input())
if x>18:
  print('Candidate is eligible for the election')
else:
  print('Candidate is not eligible for the election')

20
Candidate is eligible for the election

In [ ]:
a=10
b=20
if a>b:  # 10>20
  print('A is maximum')
else:
  print('B is maximum')

B is maximum

In [ ]:
a=10
b=5
if a>b:
  print('A is maximum')
elif a<b:
  print('B is maximum')
else:
  print('Both are equal')

A is maximum

In [ ]:
a=int(input())
if a>0:
  print('Positive')
elif a<0:
  print('Negative')
else:
  print('Zero')

4
Positive

In [ ]:
marks=int(input())
if marks>=90:
  print('Grade A')
elif marks>=80:
  print('Grade B')
elif marks>=70:
  print('Grade C')
elif marks>=60:
  print('Grade D')
else:
  print('Grade E')

36
Grade E

# Logical Operators

AND, OR , NOT

In [ ]:
a=10
b=15
a,b

(10, 15)

In [ ]:
if a>10 and b>10:  # a>10 failed  b>10  is satisfy
  print('Both are greater than 10')
else:
  print('Both are not greater than 10')

Both are not greater than 10

In [ ]:
if a>10 or b>10:  # a>10 failed  b>10  is satisfy
  print('Both are greater than 10')
else:
  print('Both are not greater than 10')

Both are greater than 10

# Loops

In [ ]:
x=[1,2,3,4,5,6]
for i in x:
  print(i)

1
2
3
4
5
6

In [ ]:
y=[3,4,6,16,85,33]
for i in y:
  print(i)

3
4
6
16
85
33

In [ ]:
n=0
while n<5:
  print(n)
  n=n+1

0
1
2
3
4

In [ ]:
#  Example for infinite Loop
# Because we are not updating the value of n
n=0
while n<5:
  print(n)

In [ ]:
# Range function
for i in range(1,10,1):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# Default step size is 1.
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# Default start value is zero.
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Break
for i in range(5):
  if i==3:   # 0,1,2,3
    break
  print(i)  # 0,1,2

0
1
2

In [ ]:
# Continue
for i in range(5):
  if i==3:
    continue
  print(i)

0
1
2
4

In [ ]:
# Continue
for i in range(5):
  if i==2:
    continue
  print(i)

0
1
3
4

In [ ]:
# Pass
for i in range(5):
  if i==3:
    pass
  print(i)

0
1
2
3
4

In [ ]:
for i in range(5):    # start=0,step=1
  print(i)

0
1
2
3
4